<div class="logo">
	<h1><a href="/">SciCollab</a></h1>
</div>
<div class="nav">
	<ul>
		<li><a href="/users/<%= presentUser._id %>"><%= presentUser.firstname %></a></li>
		<li><a href="/users">Scientists</a></li>
		<li><a href="/projects">Open Projects</a></li>
		<li><a href="/projects/new">Start a New Project +</a></li>
		<li><a href="/logout">Logout</a></li>
	</ul>
</div>