<!DOCTYPE html>
<html>
<head>
	<title>SciCollab</title>
	<link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>
	<header>
		<div class="logo">
			<h1><a href="/">SciCollab</a></h1>
		</div>
		<div class="nav">
			<ul>
				<li><a href="/login">Login/Signup</a></li>
			</ul>
		</div>
	</header>
	<main>

		<%- body %>

	</main>
	<script type="text/javascript" src="app.js"></script>
</body>
</html>