* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	color: grey;
	background: floralwhite;
	text-align: center;
	font-family: 'Roboto Condensed', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Play', sans-serif;
}

li {
	list-style: none;
}

/*accent colors (brown): 441D0E
	primary (green): 079756;
*/

header {
	font-family: 'Play', sans-serif;
	width: 100%;
	position: fixed;
	top: 0;
	padding: 20px;
	background: #079756;
	border-bottom: 2px solid #441D0E;
}

header .logo {
	float: left;
	text-align: left;
}

.logo img {
	max-width: 50px;
}

header .nav {
	margin-top: 5px;
	float: right;
	text-align: right;
}

.nav li {
	padding: 5px;
}

.nav li:hover {
	background: #441D0E;
	border-radius: 10%;
	color: floralwhite;
}

.nav li a:hover {
	color: floralwhite;
}

a {
	text-decoration: none;
	color: steelblue;
}

a:hover {
	text-decoration: underline;
	color: #079756;
}

header a {
	color: floralwhite;
}

header a:hover {
	color: floralwhite;
	border-radius: 10%;
}

header > div {
	display: inline-block;
}

header > div ul {
	list-style: none;
	text-align: right;
}

header > div ul li {
	list-style: none;
}

.nav ul li {
	display: inline;
}

main {
	margin-top: 80px;
	width: 90%;
	margin-right: 5%;
	margin-left: 5%;
}

.form-select ul {
	text-align: center;
	list-style: none;
}

.form-select ul li {
	display: inline;
}

.form-container {
	margin: 0 auto;
	width: 400px;
	height: 500px;
	overflow: hidden;
}

.form-container > div {
	display: inline-block;
	width: 400px;
	height: 500px;
	text-align: center;
	vertical-align: top;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	margin-bottom: 5px;
}

.foot {
	width: 200px;
	margin: 0 auto;
}

@media (max-width: 650px) {
	/*header > div {
		display: block;
	}

	.logo {
		margin: 0 auto;
	}*/
	
	.nav {
		position: absolute;
		right: -200px;
	}

	.nav ul {
		display: block;
		width: 200px;
	}
}