<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body>
	<header>
		<% include ../partials/session_header %>
	</header>
	<main>

		<form action="/projects/" method="POST">
			<input type="text" name="project[title]" placeholder="Project name or title"><br/>
			<textarea col=64 rows=8 name="project[description]" placeholder="What's a short abstract for this research project?"></textarea><br/>
			<select name="project[open]">
				<option value="true">Open</option>
				<option value="false">Private</option>
			</select>
			<input type="submit" value="Add new project">
		</form>

	</main>
	<% include ../partials/footer %>
	<% include ../partials/scripts %>
</body>
</html>